@font-face {
    font-family: 'HelveticaNeueLTStd-BdEx';
    src: url('./assets/fonts/HelveticaNeueLTStd-BdEx.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/HelveticaNeueLTStd-BdEx.otf')  format('opentype'),
           url('./assets/fonts/HelveticaNeueLTStd-BdEx.woff') format('woff'), url('./assets/fonts/HelveticaNeueLTStd-BdEx.ttf')  format('truetype'), url('./assets/fonts/HelveticaNeueLTStd-BdEx.svg#HelveticaNeueLTStd-BdEx') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGrotesk-Regular';
    src: url('./assets/fonts/FoundersGrotesk-Regular.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/FoundersGrotesk-Regular.otf')  format('opentype'),
           url('./assets/fonts/FoundersGrotesk-Regular.woff') format('woff'), url('./assets/fonts/FoundersGrotesk-Regular.ttf')  format('truetype'), url('./assets/fonts/FoundersGrotesk-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FoundersGrotesk-Medium';
    src: url('./assets/fonts/FoundersGrotesk-Medium.eot?#iefix') format('embedded-opentype'),  url('./assets/fonts/FoundersGrotesk-Medium.otf')  format('opentype'),
           url('./assets/fonts/FoundersGrotesk-Medium.woff') format('woff'), url('./assets/fonts/FoundersGrotesk-Medium.ttf')  format('truetype'), url('./assets/fonts/FoundersGrotesk-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
